# Lots of junk goes in here.
/caches/
/backups/

# TOP SECRET
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/known_hosts

# VIM plugins are Vundle's business.
/link/.vim/bundle

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*
